/* --------------------------------- styles css ---------------------- */
.bodyNormal {
  font-size: 1rem;
}

.classPolicies {margin-top: 3rem;}

.btn {

}
.btn-warning {
  background-color: #F1592A;
  border-color: #F1592A;
}

.btn-warning:hover {
  background-color: #F48664;
  border-color: #F48664;
}

#shencoverimage {
  vertical-align: top;
  border: 1px black solid;
}
